.about-me{
    min-height: calc(100vh - var(--header-size));
    
    .title{
        font-family: var(--medium-font);
    }

    img{
        width: 100%;
    }
}

.section-grid{
    display: grid;
    gap: 1rem;

    @include media-quarie(medium){
        grid-template-columns: repeat(auto-fit, minmax(px-to-rem(350px), 1fr));
        gap: 2rem;
    }
}

.description{
    .title{
        font-family: var(--bold-font);
    }

    .download{
        text-transform: uppercase;
        color: map-get($colors, secondary-color);
        font-family: var(--medium-font);

        &::before{
            background-image: url(../img/documento.png);
        }
    }
}