.main-banner{
    height: calc(100vh - var(--header-size));
    background: url(../img/top-10-programming-languages-2020-Stackscale.webp), linear-gradient(to right, #232526, #414345);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: var(--medium-font);
    background-blend-mode: overlay;

    .wrapper{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: .75em;
        padding: 1em 0 2em 0;
    }
}

.lenguages{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.select-container{
    position: relative;

    .language-selector{
        padding: 1em 3em 1em 1.5em;
        border-radius: 3px;
        border: none;
        outline: none;
        background-color: map-get($colors, secondary-color);
        color: map-get($colors, primary-color);
        cursor: pointer;
    }
    
    .custom-arrow{
        display: block;
        background-color: hsl(37, 0, 14);
        width: 2em;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        pointer-events: none;
        border-left: 1px solid white;

        &::before,
        &::after{
            content: "";
            display: block;
            width: .75em;
            height: .5em;
            background-color: map-get($colors, secondary-color);
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        &::before{
            top: 50%;
            clip-path: polygon(0 0, 50% 100%, 100% 0);
            margin-top: 1px;
        }

        &::after{
            bottom: 50%;
            clip-path: polygon(0 100%, 50% 0, 100% 100%);
            margin-bottom: 1px;
        }
    }
}

.content{
    color: map-get($colors, primary-color);

    h2{
        font-size: 3em;
        margin-bottom: 0;
        line-height: 1.5em;
    }

    .name{
        font-family: var(--bold-font);
        font-size: 1.5em;
    }

    .description{
        font-size: 1.5em;
        margin-top: 0;
        margin-bottom: .5em;
    }
}

.media-links{
    display: flex;
    gap: 1rem;

    img{
        height: 3em;
    }
}
