.main-banner{
    height: calc(100vh - var(--header-size));
    background: url(../img/top-10-programming-languages-2020-Stackscale.jpg), linear-gradient(to right, #232526, #414345);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: var(--medium-font);
    background-blend-mode: overlay;

    .wrapper{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: .75em;
    }
}

.content{
    color: map-get($colors, primary-color);

    h2{
        font-size: 3em;
        margin-bottom: 0;
        line-height: 1.5em;
    }

    .name{
        font-family: var(--bold-font);
        font-size: 1.5em;
    }

    .description{
        font-size: 1.5em;
        margin: 0;
    }
}

.button{
    width: -moz-fit-content;
    width: fit-content;
    text-transform: uppercase;
    letter-spacing: .05em;
}