button,.button{
    background-color: map-get($colors, button-color);
    color: map-get($colors, primary-color);
    border: none;
    padding: 0.5em 1.5em;
    cursor: pointer;
    width: fit-content;
    text-transform: uppercase;
    letter-spacing: .05rem;
}