.contact{
    color: map-get($colors, primary-color);
    background-color: map-get($colors, secondary-color);

    .title{
        margin-bottom: 0;
    }
}

.contact-container{
    display: grid;
    gap: 1.5rem;
    margin-top: 2rem;
    
    @include media-quarie(medium){
        grid-template-columns: repeat(auto-fit, minmax(px-to-rem(400px), 1fr));
        margin-top: 3rem;
    }
}

.contact-info, .contact-form{
    h2{
        margin-bottom: 1.5rem;

        @include media-quarie(medium){
            margin-bottom: 2.5rem;
        }
    }
}

.contact-box{
    .type{
        color: map-get($colors, button-color);
        margin-bottom: 0;
    }

    .info{
        margin-top: 0;
    }

    &:nth-of-type(-n + 4){
        margin-bottom: 1.5rem;

        @include media-quarie(medium){
            margin-bottom: 2.5rem;
        }
    }

    a{
        color: map-get($colors, link-color);
    }
}

.map-container{
    @include responsive-ratio(16, 9, iframe);
}

.detail{
    display: flex;
    gap: 2rem;

    .detail-image{
        --image-size: 3em;
        width: var(--image-size);
        height: var(--image-size);
        background-color: map-get($colors, primary-color);
        mask-size: 1.7rem;
        mask-repeat: no-repeat;
        mask-position: center;

        @include media-quarie(medium){
            mask-size: 2rem;
        }
    }

    @include media-quarie(medium){
        gap: 3rem;
    }
}

.contact-box{
    &:first-of-type{
        .detail{
            .detail-image{
                mask-image: url(../img/direccion.png);
            }
        }
    }

    &:nth-of-type(2){
        .detail{
            .detail-image{
                mask-image: url(../img/llamada-telefonica.png);
            }
        }
    }

    &:nth-of-type(3){
        .detail{
            .detail-image{
                mask-image: url(../img/email1.png);
            }
        }
    }
}

