.education-container{
    background-color: map-get($colors, button-color);
    padding: 1em .5em;
    margin-top: 0.75rem;

    @include media-quarie(medium){
        margin-top: 1rem;
    }
}

.carrer{
    color: map-get($colors, primary-color);

    h3{
        text-transform: uppercase;
    }

    .period{
        background-color: map-get($colors, secondary-color);
        width: fit-content;
        padding: .5em;
    }

    .title-link{
        text-decoration: underline;
        color: map-get($colors, link-color);
    }
}

.carrers-container{
    .carrer:not(:first-child){
        padding: .5em;
        border-radius: 3px;
        background-color: map-get($colors, quaternary-color);

        .period{
            background-color: map-get($colors, button-color);
        }
    }
}

.carrer:not(:last-child),
.carrers-container:not(:last-child){
    margin-bottom: 1rem;

        @include media-quarie(medium){
            margin-bottom: 2rem;
        }
}

.flex-carrer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;

    h3{
        margin-bottom: 0;
    }
}

.carrers-container{
    --initial-height: 0;
    height: var(--initial-height);
    overflow: hidden;

    &.open{ 
        height: auto;
    }
}

.button-container{
    cursor: pointer;
    transition: transform .5s;
    height: fit-content;

    img{
        --size: 2em;
        width: var(--size);
        height: var(--size);
    }

    &.toggle{
        transform: rotateX(180deg);
    }
}