.error-main{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #d3cce3, #e9e4f0);
}

.error-container{
    --margin-bottom: .75rem;
    color: map-get($colors, tertiary-color);

    .error-description,
    .error-status,
    .error-title{
        font-family: var(--medium-font);
        margin-bottom: var(--margin-bottom);
    }

    .error-description{
        margin-top: 0;
    }

    .error-status{
        font-size: 9em;
        font-family: var(--black-font);
        letter-spacing: .1em;
        animation: bounce 2.5s both infinite;

        @keyframes bounce {
            0%,
            20%,
            50%,
            80%,
            100%{
                transform: translateY(0);
            }

            40%{
                transform: translateY(-30px);
            }

            60%{
                transform: translateY(-15px);
            }
        }
    }

    .home-link{
        color: map-get($colors, primary-color);
        background-color: hsl(19, 76, 62);
        text-decoration: none;
        display: inline-block;
        padding: .75em;
        border-radius: 25px;
        text-transform: uppercase;

        @media (pointer: fine){
            &:hover{
                background-color: hsl(19, 90, 55);
            }    
        }
    }

    @include media-quarie(medium){
        --margin-bottom: 1rem;
    }
}