.home-header{
    --background-transition: background-color .5s; 
    // TRANSICION QUE SE VA A UTILIZAR EN EL HEADER Y SU RESPECTIVO CONTENEDOR (WRAPPER).
    --toggle-color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: var(--header-size);
    width: 100%;
    z-index: var(--z-fixed);
    background-color: map-get($colors, secondary-color);
    color: map-get($colors, primary-color);
    transition: var(--background-transition);

    &.scroll-header{
        --toggle-color: black;
        background-color: map-get($colors, primary-color);
        
        a{
            color: map-get($colors, secondary-color);    
        }

        nav{
            background-color: map-get($colors, secondary-color);

            @include media-quarie(medium){
                background-color: transparent;
            }
        }

        &::after{
            content: "";
            display: block;
            position: absolute;
            top: 85%;
            left: 50%;
            width: 92%;
            height: 1rem;
            border-radius: 100%;        
            background-color: grey;
            transform: translateX(-50%);
            filter: blur(3px) opacity(0.25);
            z-index: var(--z-back);
            /* EL PSEUDOELEMENTO "AFTER" SE UBICA POR DETRAS DEL CONTENEDOR DEL HEADER (WRAPPER),
            NO DEL HEADER. */

            @include media-quarie(medium){
                width: 88%;
            }
        }
    }

    .wrapper{
        $background-color: map-get($colors, secondary-color);
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $background-color;
        transition: var(--background-transition);

        &.scroll-wrapper{
            $background-color: map-get($colors, primary-color);
            background-color: $background-color;
        }
        /* COMO, POR UNA CUESTION DE APILAMIENTO, NO PUEDO UBICAR EL PSEUDOELEMENTO "AFTER" 
        POR DETRAS DEL HEADER; SIMULO ESTA ACCION UBICANDOLO POR DETRAS DE SU CONTENEDOR 
        (WRAPPER). PARA QUE LA MISMA SURJA EFECTO, ES NECESARIO PINTAR EL FONDO DEL CONTENDOR
        CON EL MISMO COLOR DEL HEADER. DE ESTA FORMA, SE CREARA EL EFECTO DE QUE EL PSEUDOELEMENTO
        SE UBICA POR DETRAS DEL HEADER, CUANDO EN REALIDAD LO HACE POR DETRAS DEL WRAPPER. */
    }

    .title{
        font-family: var(--bold-font);
        font-size: 1.5em;
    }

    a{
        color: map-get($colors, primary-color);
    }

    .menu-toggle{
        width: 2.2em;
        height: 1.6em;
        cursor: pointer;
        position: relative;
        @include toggle-menu(middle, var(--toggle-color));

        @include media-quarie(medium){
            display: none;
        }
    }

    .nav{
        position: fixed;
        top: var(--header-size);
        right: -100vw;
        width: 100%;
        height: calc(100vh - var(--header-size));
        background-color: map-get($colors, primary-color);

        @include media-quarie(medium){
            position: static;
            width: auto;
            height: auto;
            background-color: transparent;
        }

        &.show{
            right: 0;
            transition: right .5s;
        }
    }
}

.menu{
    @include media-quarie(medium){
        display: flex;
    }

    .item{
        padding: 1em;
        width: 100%;
        color: map-get($colors, secondary-color);

        @include media-quarie(medium){
            padding: .5em;
            width: auto;
            color: map-get($colors, primary-color);
        }
    }

    &.scroll-menu{
        .item{
            color: map-get($colors, primary-color);
            
            @include media-quarie(medium){
                color: map-get($colors, secondary-color);
            }
        }
    }
}
