.loader-content{
    .loader{
        --size: 8rem;
        --border-size: 5px;
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        border: var(--border-size) solid map-get($colors, primary-color);
        border-top: var(--border-size) solid map-get($colors, button-color);
        animation: loader .8s linear infinite;
    
        @keyframes loader {
            0%{
                transform: rotate(0deg);
            }
            100%{
                transform: rotate(360deg);
            }
        }
    
        @include media-quarie(medium){
            --size: 10rem;
        }
    }

    .message{
        font-size: 1.2em;
        animation: message 1s alternate infinite ease-in-out;
        margin-bottom: 0;
    
        @keyframes message {
            0%{
                opacity: .2;
            }
            100%{
                opacity: 1;
            }
        }
    }
}