*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

#root{
    margin-top: var(--header-size);
    min-height: calc(100vh - var(--header-size));
    display: grid;
    grid-template-rows: auto min-content;
    @include fluid-typography(small, large, px-to-rem(12px), px-to-rem(17px));
    font-family: var(--regular-font);
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

img{
    max-width: 100%;
    display: block;
}

h1, h2, h3, h4, h5, h6{
    margin-top: 0;
}